#filtres{
	background: #E7F1FA;
	height: 50px;
/* 	 border: blue 1px solid; */
}




#filtres select{
	width: 200px;
		
}

 #liste_frais{
	padding : 0;
	margin: 0;
}

.vertical-align {
    display: flex;
    align-items: center;
}


.custom-combobox {
  position: relative;
  display: inline-block;
}
.custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
}
.custom-combobox-input {
  margin: 0;
  padding: 5px 10px;
}
.row {
  max-width : 100%;
}