/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% Free To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDIT US AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */

/*=====================================
   GENERAL STYLE SECTION
    ===================================*/
body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 25px;
}

.row {
    max-width: 100%;
}

.text-center {
    text-align: center;
}
.sub-head {
    padding-bottom: 50px;
    display: block;
}
.pad-top-botm {
    padding-top: 50px;
    padding-bottom: 50px;
}

h2 {
    color: rgba(21, 146, 56, 0.85);
    text-shadow: 1px 1px 8px rgba(36, 36, 36, 0.85);
    font-weight: 900;
}
h3 {
    color: #159238;
}
/*=====================================
  PRELOADER STYLES 
    ===================================*/
#pre-div {
    background-color: #fff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
}
#loader {
    background-image: url("../img/loader.gif");
    background-position: center center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}

/*=====================================
   NAV BAR STYLE SECTION
    ===================================*/

/*Menu border Color*/
.navbar-default {
    border-color: #000;
    background-color: #242222;
}
/*Logo Image */
.navbar-brand-logo {
    max-height: 60px;
    padding: 5px;
}
/*top-menu links color*/
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
/*top-menu links color on hover*/
.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}

/*top-menu links & margin*/
.navbar-nav > li > a {
    margin: 5px 0px 5px 0px;
}
/*toggle styles*/
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #159238;
}
.navbar-default .navbar-toggle {
    border: 2px solid #159238;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

/*=====================================
 HOME SECTION
    ===================================*/
#home {
    background: url(../img/head.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
}
#home h1 {
    padding: 150px 20px 20px 0px;
    color: #ff0000;
    font-size: 40px;
    font-weight: 900;
}
#home .head-text span {
    display: block;
    font-size: 25px;
    color: #fff;
    margin-bottom: 25px;
}
#home .head-text span > i {
    margin-right: 10px;
    color: #159238;
}
#home p {
    padding: 10px 20px 20px 20px;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 800;
    text-align: center;
}
#home .overlay {
    background: url(../img/overlays/06.png);
    min-height: 700px;
}
#home h3 {
    color: #fff;
}
.div-trans {
    padding-top: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 330px;
    margin-top: 150px;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.div-trans i {
    margin-left: 10px;
    margin-right: 10px;
    color: #159238;
}
.div-trans span {
    color: #ff0000;
}
.div-trans button {
    background-color: #159238;
}
#home .form-control {
    background-color: transparent;
}

/*=====================================
 ABOUT SECTION
    ===================================*/

#about {
    background-color: #efefef;
    padding-top: 80px;
}
.big-icon {
    font-size: 250px;
}

.why-div {
    text-align: justify;
    padding: 10px 50px;
}

.carousel-control.left {
    left: 0;
    right: auto;
    background-repeat: repeat-x;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0) 100%) !important;
}
.carousel-control.right {
    right: 0;
    left: auto;
    background-repeat: repeat-x;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0) 100%) !important;
}
.carousel-indicators li {
    border: 2px solid #159238;
    width: 10px;
    height: 10px;
}
.carousel-indicators .active {
    border: 2px solid #159238;
    width: 10px;
    height: 10px;
    background: #159238;
}

/*=====================================
  DONARS STYLES 
    ===================================*/
.donars-section {
    background: url(../img/donars.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
}
.donars-section .overlay {
    background: url(../img/overlays/02.png);
}
.slide-custom {
    min-height: 200px;
    padding: 100px 20px 100px 20px;
    line-height: 30px;
}
.donars-section h4 {
    line-height: 40px;
}
.donars-section h4 i {
    padding: 5px;
}

/*==========================================
   PORTFOLIO STYLES
    =====================================================*/

#admin {
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #efefef;
    height: 100vh;;
}
.portfolio-item {
    border: 5px solid #159238;
    margin: 3px;
}
.portfolio-item p {
    margin-top: 35%;
    color: #fff;
}

.portfolio-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #159238;
    text-align: center;
    vertical-align: middle;
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;
    cursor: pointer;
    border-bottom-left-radius: 200px;
    border-top-right-radius: 200px;
    -webkit-border-bottom-left-radius: 200px;
    -webkit-border-top-right-radius: 200px;
    -moz-border-bottom-left-radius: 200px;
    -moz-border-top-right-radius: 200px;
}
.portfolio-item .overlay .preview {
    position: relative;
    top: 50%;
    display: inline-block;
    margin-top: -20px;
}
.portfolio-item:hover .overlay {
    opacity: 1;
    zoom: 1;
    filter: alpha(opacity=100);
}
.overlay a,
overlay a:hover {
    color: #fff;
    text-decoration: none;
}
#admin .overlay p > span {
    display: block;
    padding-bottom: 20px;
}

/*==========================================
   HELP STYLES
    =====================================================*/

#help {
    color: #fff;

    background: url(../img/help.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
}

#help .overlay {
    background: rgba(32, 32, 32, 0.3);
    padding-top: 80px;
    padding-bottom: 100px;
}

.vedio-style {
    border: 5px solid #159238;
    width: 100%;
    min-height: 300px;
    margin-top: 20px;
}
/*==========================================
   CONTACT STYLES
    =====================================================*/
#contact {
    padding-top: 80px;
    background-color: #efefef;
}

#contact .form-control {
    background-color: transparent;
    height: 40px;
}

#contact .div-trans button {
    background-color: #159238;
}

/*==========================================
   FOOTER STYLES
    =====================================================*/

#footser-end {
    text-align: right;
    background-color: #242222;
    color: #fff;
    padding: 10px;
}
/*==========================================
   TABLE STYLES
    =====================================================*/
table tr th {
    text-align: center;
}
table {
    margin-left: 2%;
    margin-right: 2%;
}
